body{
    padding: 0px;
    margin: 0px;
}
.box{
    height: 600px;
    
}
.box::before{
    content: "";
    background: url(pc1.jpg) no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

.h11{
    font-size: 100px;
    color: white;
}
.h12{
    font-size: 50px;
    color: white;
}
.box2{
    background-color: rgb(242,242,242);
}
.box3{
    background-color: rgb(225,225,225);
}
.box5{
    background-color: rgb(242,242,242);
}
.h13{
    color: rgb(104,104,104);
}

.h14{
    color: rgb(124,124,124);
    font-size: 25px;
}
.h15{
    color: rgb(43,43,43);
}
.box6{
    background-color: black;
}
.h16{
    color: white;
}
.btn{
    background-color: rgb(241,89,52);
    color: white;
    border: 2px ;
}
.input4{
    height: 120px;
}

.h17{
    font-size: 26px;
}
.label1{
    width: 100%;
}
